.Rproj.user
.Rhistory
.RData
*.html
Alewife self assignment to population with increasing stringency.csv
GSI_SIM_Dumpola.txt
GSI_SIM_Stderr.txt
gsi_sim_file.txt
gsi_sim_seeds
*logl_summary*
*zhists.pdf
*pi-comp-between-runs*
Rplots.pdf
pi-comp-plot.pdf
bb1_for_devel.rda
aa1_for_devel.rda
